# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/onlyupuz/oqsaroy.crud.uz"
PassengerBaseURI "/"
PassengerPython "/home/onlyupuz/virtualenv/oqsaroy.crud.uz/3.8/bin/python"
PassengerAppLogFile "/home/onlyupuz/logs/passengar.log)"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END